# Week 1:Day 5
## Data Cleaning & Preparation

In [1]:
#Import Libraries
import pandas as pd # Data processing
import matplotlib.pyplot as plt # Data Visualization
import seaborn as sns # Data Visualization
import missingno as msno # Missing data - Data Visuaization
import numpy as np # Array operations
from collections import Counter # Counting

In [2]:
#Load the datasets
claims = pd.read_csv('Data/claims.csv')
policyholders = pd.read_csv('Data/policyholders.csv')
thirdparties = pd.read_csv('Data/third_parties.csv')

### Correcting the data type issues in Claims DataFrame

In [3]:

#Changing the data type of Claim_Type, Claim_Complexity, Severity_Band and Status from objects to Category
#Changing the data type of Accident_Date, FNOL_Date and Settlement_Date from objects to Datetime

claims["Claim_Type"] = claims["Claim_Type"].astype("category")  
claims["Claim_Complexity"] = claims["Claim_Complexity"].astype("category")
claims["Severity_Band"] = claims["Severity_Band"].astype("category")
claims["Status"] = claims["Status"].astype("category")
claims['Settlement_Date'] = pd.to_datetime(claims['Settlement_Date'], dayfirst=True, errors='coerce')
claims['Accident_Date'] = pd.to_datetime(claims['Accident_Date'], dayfirst=True, errors='coerce')
claims['FNOL_Date'] = pd.to_datetime(claims['FNOL_Date'], dayfirst=True, errors='coerce')

#Confirming if the datatypes have been changed.
claims.info()

#NB:the below results confirms the data types have been successfully changed.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Claim_ID                8000 non-null   object
 1   Policy_ID               8000 non-null   object
 2   Accident_Date           8000 non-null   datetime64[ns]
 3   FNOL_Date               8000 non-null   datetime64[ns]
 4   Claim_Type              8000 non-null   category
 5   Claim_Complexity        8000 non-null   category
 6   Fraud_Flag              8000 non-null   bool
 7   Litigation_Flag         8000 non-null   bool
 8   Estimated_Claim_Amount  8000 non-null   int64
 9   Ultimate_Claim_Amount   7575 non-null   float64
 10  Severity_Band           8000 non-null   category
 11  Settlement_Date         7575 non-null   datetime64[ns]
 12  Status                  8000 non-null   category
dtypes: bool(2), category(4), datetime64[ns](3), float64(1), int64(1), object(2)
memory usage: 485.2+ KB

 ### Correcting the data type issues in policyholders DataFrame

In [4]:

#Changing the data type of Gender, Occupation, Region, Vehicle_Type and Credit_Score_Band from objects to Category

policyholders["Gender"] = policyholders["Gender"].astype("category")  
policyholders["Occupation"] = policyholders["Occupation"].astype("category")
policyholders["Region"] = policyholders["Region"].astype("category")
policyholders["Vehicle_Type"] = policyholders["Vehicle_Type"].astype("category")
policyholders["Credit_Score_Band"] = policyholders["Credit_Score_Band"].astype("category")

#Confirming if the datatypes have been changed.
policyholders.info()

#NB:the below results confirms the data types have been successfully changed.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Policy_ID                 5000 non-null   object
 1   Customer_ID               5000 non-null   object
 2   Age_of_Driver             5000 non-null   int64
 3   Gender                    5000 non-null   category
 4   Occupation                5000 non-null   category
 5   Region                    5000 non-null   category
 6   Annual_Mileage            5000 non-null   int64
 7   Driving_Experience_Years  5000 non-null   int64
 8   Vehicle_Type              5000 non-null   category
 9   Vehicle_Age               5000 non-null   int64
 10  Credit_Score_Band         5000 non-null   category
dtypes: category(5), int64(4), object(2)
memory usage: 260.0+ KB

### Correcting the data type issues in third parties DataFrame

In [5]:

#Changing the data type of ThirdParty_Role and TP_Injury_Severity from objects to Category

thirdparties["ThirdParty_Role"] = thirdparties["ThirdParty_Role"].astype("category")  
thirdparties["TP_Injury_Severity"] = thirdparties["TP_Injury_Severity"].astype("category")

#Confirming if the datatypes have been changed.
thirdparties.info()

#NB:the below results confirms the data types have been successfully changed.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2410 entries, 0 to 2409
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Claim_ID            2410 non-null   object
 1   TP_ID               2410 non-null   object
 2   ThirdParty_Role     2410 non-null   category
 3   TP_Injury_Severity  2410 non-null   category
dtypes: category(2), object(2)
memory usage: 42.8+ KB

### Handling missing values in Claims DataFrame

In [6]:
# Replacing missing values in Ultimate_Claim_Amount with Segmented Median
claims['Ultimate_Claim_Amount'] = (
    claims.groupby('Claim_Type', observed=True)['Ultimate_Claim_Amount']
          .transform(lambda x: x.fillna(x.median()))
)

In [7]:
# Confirm if the missing values in Ultimate_Claim_Amount have been replaced

Total_Missing_Ultimate = claims['Ultimate_Claim_Amount'].isna().sum()
print(f"Total number of missing values in Ultimate_Claim_Amount: {Total_Missing_Ultimate}")

# The 0 result indicates that the missing values have been successfully replaced.

Total number of missing values in Ultimate_Claim_Amount: 0

In [8]:
# Replacing missing values in Settlement_Date 
# We will not replace the missing values in the Settlement_Date feature.
# We will create another column called Settlement_Date_missing that acts as a binary flag (or dummy variable) for missing values. in the Settlement_Date column.

claims['Settlement_Date_missing'] = claims['Settlement_Date'].isna().astype(int)

In [9]:
# Examine the columns in the claims table
claims.columns

# The result below confirms the new column Settlement_Date_missing has been created

Index(['Claim_ID', 'Policy_ID', 'Accident_Date', 'FNOL_Date', 'Claim_Type',
       'Claim_Complexity', 'Fraud_Flag', 'Litigation_Flag',
       'Estimated_Claim_Amount', 'Ultimate_Claim_Amount', 'Severity_Band',
       'Settlement_Date', 'Status', 'Settlement_Date_missing'],
      dtype='object')

In [10]:
# Viewing unique values to confirm the contents of the Settlement_Date_missing feature
claims['Settlement_Date_missing'].unique()

array([0, 1])

In [11]:
#Cross-check with claim status
pd.crosstab(
    claims['Settlement_Date_missing'],
    claims['Status']
)

# The below results confirms that the missing dates correspond to open claims.
# ie: •  1 → Settlement date was missing
#     •  0 → Settlement date was present

Status                   open  settled
Settlement_Date_missing
0                           0     7575
1                         425        0

#### Computing useful date extracts in Claims DataFrame

In [12]:
#Extract and create columns Month and day

claims['FNOL_Month_Num'] = claims['FNOL_Date'].dt.month

claims['FNOL_DayOfWeek'] = claims['FNOL_Date'].dt.dayofweek

claims['FNOL_IsWeekend'] = claims['FNOL_Date'].dt.dayofweek.isin([5, 6])

claims.info()

#NB: The result below shows the month_name column has been added to the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Claim_ID                 8000 non-null   object
 1   Policy_ID                8000 non-null   object
 2   Accident_Date            8000 non-null   datetime64[ns]
 3   FNOL_Date                8000 non-null   datetime64[ns]
 4   Claim_Type               8000 non-null   category
 5   Claim_Complexity         8000 non-null   category
 6   Fraud_Flag               8000 non-null   bool
 7   Litigation_Flag          8000 non-null   bool
 8   Estimated_Claim_Amount   8000 non-null   int64
 9   Ultimate_Claim_Amount    8000 non-null   float64
 10  Severity_Band            8000 non-null   category
 11  Settlement_Date          7575 non-null   datetime64[ns]
 12  Status                   8000 non-null   category
 13  Settlement_Date_missing  8000 non-null   int32
 14  FNOL_Month_Num           8000 non-null   int32
 15  FNOL_DayOfWeek           8000 non-null   int32
 16  FNOL_IsWeekend           8000 non-null   bool
dtypes: bool(3), category(4), datetime64[ns](3), float64(1), int32(3), int64(1), object(2)
memory usage: 586.7+ KB

In [13]:
claims.head()

,Claim_ID,Policy_ID,Accident_Date,FNOL_Date,Claim_Type,Claim_Complexity,Fraud_Flag,Litigation_Flag,Estimated_Claim_Amount,Ultimate_Claim_Amount,Severity_Band,Settlement_Date,Status,Settlement_Date_missing,FNOL_Month_Num,FNOL_DayOfWeek,FNOL_IsWeekend
0,CLM30000,POL14506,2019-12-19,2019-12-19,Theft,Medium,False,True,5243,2808.0,Minor,2020-03-01,settled,0,12,3,False
1,CLM30001,POL14338,2018-12-30,2018-12-31,Collision,Low,False,False,3934,2952.0,Minor,2019-03-23,settled,0,12,0,False
2,CLM30002,POL13575,2021-10-19,2021-10-19,Other,Medium,False,False,153631,156497.0,Catastrophic,2022-04-22,settled,0,10,1,False
3,CLM30003,POL10138,2021-06-18,2021-06-18,Weather,Low,False,False,2812,1450.0,Minor,2021-09-13,settled,0,6,4,False
4,CLM30004,POL12316,2021-03-21,2021-03-24,Theft,Low,False,False,5094,4243.0,Minor,2021-05-26,settled,0,3,2,False

In [14]:
# Winsorization (soft capping) of the Ultimate Claim Amount

cap = claims['Ultimate_Claim_Amount'].quantile(0.99)

claims['Ultimate_Claim_Amount_Capped'] = (
    claims['Ultimate_Claim_Amount'].clip(upper=cap)
)

claims['is_extreme_claim'] = (
    claims['Ultimate_Claim_Amount'] > cap
)

claims.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Claim_ID                      8000 non-null   object
 1   Policy_ID                     8000 non-null   object
 2   Accident_Date                 8000 non-null   datetime64[ns]
 3   FNOL_Date                     8000 non-null   datetime64[ns]
 4   Claim_Type                    8000 non-null   category
 5   Claim_Complexity              8000 non-null   category
 6   Fraud_Flag                    8000 non-null   bool
 7   Litigation_Flag               8000 non-null   bool
 8   Estimated_Claim_Amount        8000 non-null   int64
 9   Ultimate_Claim_Amount         8000 non-null   float64
 10  Severity_Band                 8000 non-null   category
 11  Settlement_Date               7575 non-null   datetime64[ns]
 12  Status                        8000 non-null   category
 13  Settlement_Date_missing       8000 non-null   int32
 14  FNOL_Month_Num                8000 non-null   int32
 15  FNOL_DayOfWeek                8000 non-null   int32
 16  FNOL_IsWeekend                8000 non-null   bool
 17  Ultimate_Claim_Amount_Capped  8000 non-null   float64
 18  is_extreme_claim              8000 non-null   bool
dtypes: bool(4), category(4), datetime64[ns](3), float64(2), int32(3), int64(1), object(2)
memory usage: 657.1+ KB

#### Joining claims, policy holders and third parties schemas

In [15]:
# Joining claims to policy holders

claims_policy = claims.merge(
    policyholders,
    on='Policy_ID',
    how='left'
)

In [16]:
claims.shape

(8000, 19)

In [17]:
claims_policy.shape

# The result below shows the columns have increased because of the join

(8000, 29)

In [18]:
claims_full = claims_policy.merge(
    thirdparties,
    on='Claim_ID',
    how='left'
)

In [19]:
claims_full.shape

#The result below shows the count of records has increased from 8000 to 8413. 
#This can negatively affect the prediction of the ultimate claim amount by the model and needs to be corrected

(8413, 32)

In [20]:
# Encode injury severity properly

severity_map = {'Minor': 1, 'Serious': 2, 'Fatal': 3}

thirdparties['TP_Injury_Severity_Num'] = (
    thirdparties['TP_Injury_Severity']
    .map(severity_map)
    .astype('int64')
)

In [21]:
#Aggregate third-party data at claim level
tp_agg = (
    thirdparties
    .groupby('Claim_ID')
    .agg(
        num_third_parties=('TP_ID', 'count'),

        max_injury_severity=('TP_Injury_Severity_Num', 'max'),

        has_minor=('TP_Injury_Severity', lambda x: (x == 'Minor').any()),
        has_serious=('TP_Injury_Severity', lambda x: (x == 'Serious').any()),
        has_fatality=('TP_Injury_Severity', lambda x: (x == 'Fatal').any()),

        has_pedestrian=('ThirdParty_Role', lambda x: (x == 'Pedestrian').any()),
        has_passenger=('ThirdParty_Role', lambda x: (x == 'Passenger').any()),
        has_driver=('ThirdParty_Role', lambda x: (x == 'Driver').any())
    )
    .reset_index()
)

In [22]:
#Viewing tp_agg table

tp_agg.head()

,Claim_ID,num_third_parties,max_injury_severity,has_minor,has_serious,has_fatality,has_pedestrian,has_passenger,has_driver
0,CLM30000,1,1,True,False,False,True,False,False
1,CLM30002,1,1,True,False,False,False,True,False
2,CLM30007,1,1,True,False,False,True,False,False
3,CLM30012,1,1,True,False,False,True,False,False
4,CLM30015,1,1,True,False,False,False,False,True

In [23]:
# Joining claims_policy table to tp_agg table

claims_complete = (
    claims
    .merge(policyholders, on='Policy_ID', how='left')
    .merge(tp_agg, on='Claim_ID', how='left')
)

In [24]:
claims_complete.shape

# The result below shows the columns have increased because of the join

(8000, 37)

In [25]:
# Viewing the columns

claims_complete.head()

,Claim_ID,Policy_ID,Accident_Date,FNOL_Date,Claim_Type,Claim_Complexity,Fraud_Flag,Litigation_Flag,Estimated_Claim_Amount,Ultimate_Claim_Amount,...,Vehicle_Age,Credit_Score_Band,num_third_parties,max_injury_severity,has_minor,has_serious,has_fatality,has_pedestrian,has_passenger,has_driver
0,CLM30000,POL14506,2019-12-19,2019-12-19,Theft,Medium,False,True,5243,2808.0,...,6,Excellent,1.0,1.0,True,False,False,True,False,False
1,CLM30001,POL14338,2018-12-30,2018-12-31,Collision,Low,False,False,3934,2952.0,...,9,Fair,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CLM30002,POL13575,2021-10-19,2021-10-19,Other,Medium,False,False,153631,156497.0,...,5,Excellent,1.0,1.0,True,False,False,False,True,False
3,CLM30003,POL10138,2021-06-18,2021-06-18,Weather,Low,False,False,2812,1450.0,...,13,Good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CLM30004,POL12316,2021-03-21,2021-03-24,Theft,Low,False,False,5094,4243.0,...,12,Excellent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
#Viewing the details of the claims_complete table

claims_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 37 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Claim_ID                      8000 non-null   object
 1   Policy_ID                     8000 non-null   object
 2   Accident_Date                 8000 non-null   datetime64[ns]
 3   FNOL_Date                     8000 non-null   datetime64[ns]
 4   Claim_Type                    8000 non-null   category
 5   Claim_Complexity              8000 non-null   category
 6   Fraud_Flag                    8000 non-null   bool
 7   Litigation_Flag               8000 non-null   bool
 8   Estimated_Claim_Amount        8000 non-null   int64
 9   Ultimate_Claim_Amount         8000 non-null   float64
 10  Severity_Band                 8000 non-null   category
 11  Settlement_Date               7575 non-null   datetime64[ns]
 12  Status                        8000 non-null   category
 13  Settlement_Date_missing       8000 non-null   int32
 14  FNOL_Month_Num                8000 non-null   int32
 15  FNOL_DayOfWeek                8000 non-null   int32
 16  FNOL_IsWeekend                8000 non-null   bool
 17  Ultimate_Claim_Amount_Capped  8000 non-null   float64
 18  is_extreme_claim              8000 non-null   bool
 19  Customer_ID                   8000 non-null   object
 20  Age_of_Driver                 8000 non-null   int64
 21  Gender                        8000 non-null   category
 22  Occupation                    8000 non-null   category
 23  Region                        8000 non-null   category
 24  Annual_Mileage                8000 non-null   int64
 25  Driving_Experience_Years      8000 non-null   int64
 26  Vehicle_Type                  8000 non-null   category
 27  Vehicle_Age                   8000 non-null   int64
 28  Credit_Score_Band             8000 non-null   category
 29  num_third_parties             1997 non-null   float64
 30  max_injury_severity           1997 non-null   float64
 31  has_minor                     1997 non-null   object
 32  has_serious                   1997 non-null   object
 33  has_fatality                  1997 non-null   object
 34  has_pedestrian                1997 non-null   object
 35  has_passenger                 1997 non-null   object
 36  has_driver                    1997 non-null   object
dtypes: bool(4), category(9), datetime64[ns](3), float64(4), int32(3), int64(5), object(9)
memory usage: 1.5+ MB

In [31]:
claims_complete = claims_complete.fillna({
    'num_third_parties': 0,
    'max_injury_severity': 0,
    'has_minor': False,
    'has_serious': False,
    'has_fatality': False,
    'has_pedestrian': False,
    'has_passenger': False,
    'has_driver': False
})

#Viewing the details of the claims_complete table

claims_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 37 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Claim_ID                      8000 non-null   object
 1   Policy_ID                     8000 non-null   object
 2   Accident_Date                 8000 non-null   datetime64[ns]
 3   FNOL_Date                     8000 non-null   datetime64[ns]
 4   Claim_Type                    8000 non-null   category
 5   Claim_Complexity              8000 non-null   category
 6   Fraud_Flag                    8000 non-null   bool
 7   Litigation_Flag               8000 non-null   bool
 8   Estimated_Claim_Amount        8000 non-null   int64
 9   Ultimate_Claim_Amount         8000 non-null   float64
 10  Severity_Band                 8000 non-null   category
 11  Settlement_Date               7575 non-null   datetime64[ns]
 12  Status                        8000 non-null   category
 13  Settlement_Date_missing       8000 non-null   int32
 14  FNOL_Month_Num                8000 non-null   int32
 15  FNOL_DayOfWeek                8000 non-null   int32
 16  FNOL_IsWeekend                8000 non-null   bool
 17  Ultimate_Claim_Amount_Capped  8000 non-null   float64
 18  is_extreme_claim              8000 non-null   bool
 19  Customer_ID                   8000 non-null   object
 20  Age_of_Driver                 8000 non-null   int64
 21  Gender                        8000 non-null   category
 22  Occupation                    8000 non-null   category
 23  Region                        8000 non-null   category
 24  Annual_Mileage                8000 non-null   int64
 25  Driving_Experience_Years      8000 non-null   int64
 26  Vehicle_Type                  8000 non-null   category
 27  Vehicle_Age                   8000 non-null   int64
 28  Credit_Score_Band             8000 non-null   category
 29  num_third_parties             8000 non-null   float64
 30  max_injury_severity           8000 non-null   float64
 31  has_minor                     8000 non-null   bool
 32  has_serious                   8000 non-null   bool
 33  has_fatality                  8000 non-null   bool
 34  has_pedestrian                8000 non-null   bool
 35  has_passenger                 8000 non-null   bool
 36  has_driver                    8000 non-null   bool
dtypes: bool(10), category(9), datetime64[ns](3), float64(4), int32(3), int64(5), object(3)
memory usage: 1.2+ MB

# The cleaned DataFrame is claims_complete

In [27]:
#Exporting claims_complete data to csv.

claims_complete.to_csv(
     'Data/cleaned_claims_dataset.csv',
    index=False
)